<div class="container-fluid gradientbg">
    <div class="flexWrapper">
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2" style="text-align: center">
            <h3 align="center" class="headingFont" style="padding-right: 20px;padding-left: 32px;">
                <span>pitney bowes</span>
                <a href="http://pb.com" rel="noopener noreferrer" target="_blank" class="pb-header-mark"
                   aria-label="Product Name Logo"></a>
            </h3>
        </div>
        <div class="col-md-5"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center;margin-bottom: 20px">
            <h2 align="center" class="headingFont" style="margin: 0">PB App Bundles Survey</h2>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
            </div>
            <div class="col-md-6 mainContent">
                <h3 align="center">Thank you for your participation in this survey.</h3>
                <h5 align="center">We believe these are the most useful apps for your business basis feedback from
                    community. </h5>
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h3 align="center" style="color:darkmagenta">Tell us who you are</h3>
                        <div class="col-md-3" ng-click="setActiveCat('legal')">
                            <div class="circle" ui-sref="survey" ng-class="{'active':selectedService=='legal'}">
                                <div class="imgDiv">
                                    <img src="images/1.png"/>
                                </div>
                            </div>
                            <div class="catName" ng-class="{'active':selectedService=='legal'}">Legal Services</div>
                        </div>
                        <div class="col-md-3" ng-click="setActiveCat('ecommerce')">
                            <div class="circle" ng-class="{'active':selectedService=='ecommerce'}">
                                <div class="imgDiv">
                                    <img src="images/2.png"/>
                                </div>
                            </div>
                            <div class="catName" ng-class="{'active':selectedService=='ecommerce'}">E-commerce \ Small
                                Business Retailers
                            </div>
                        </div>
                        <div class="col-md-3" ng-click="setActiveCat('medical')">
                            <div class="circle" ng-class="{'active':selectedService=='medical'}">
                                <div class="imgDiv">
                                    <img src="images/3.png"/>
                                </div>
                            </div>
                            <div class="catName" ng-class="{'active':selectedService=='medical'}">Medical
                                Professionals
                            </div>
                        </div>
                        <div class="col-md-3" ng-click="setActiveCat('insurance')">
                            <div class="circle" ng-class="{'active':selectedService=='insurance'}">
                                <div class="imgDiv">
                                    <img src="images/4.png"/>
                                </div>
                            </div>
                            <div class="catName" ng-class="{'active':selectedService=='insurance'}">Insurance
                                Professionals
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    </div>
</div>
