<header class="survey">
    <h3>PB App Bundles Survey</h3>
</header>
<div class="survey-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 left-panel">
                <h2 class="blue-text">Hello Deepak</h2>

                <label class="catgeory">Categories</label>
                <fieldset>
                    <div class="controls-stacked">
                        <label class="control radio">
                            <input id="option1" name="radio" type="radio" ng-model="selectedCat" value="legal">
                            <span class="control-indicator"></span>
                            Legal Services
                        </label>

                        <label class="control radio">
                            <input id="option2" name="radio" type="radio" ng-model="selectedCat" value="ecommerce">
                            <span class="control-indicator"></span>
                            Small/E-commerce Retailers
                        </label>

                        <label class="control radio ">
                            <input id="option3" name="radio" type="radio" ng-model="selectedCat" value="insurance">
                            <span class="control-indicator"></span>
                            Insurance
                        </label>

                        <label class="control radio ">
                            <input id="option4" name="radio" type="radio" ng-model="selectedCat" value="medical">
                            <span class="control-indicator"></span>
                            Medical Professionals
                        </label>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-10 main-section">
                <div class="heading">
                    <h2 class="blue-text">Legal Services</h2>
                    <h5>We have created bundles for varying needs & scale for a Legal Practice</h5>
                    <h5>Please help us refine our understanding better by giving us feedback on your preferences.</h5>
                </div>

                <div class="body">
                    <h5>Please help us understand which of these bundles would you prefer investing in for your
                        business. Please select a bundle that you would most likely invest in.</h5>
                    <h5>You can also select individual apps within a bundle to help us understand your preference.</h5>

                    <p>Please select your preferences irrespective of price for these bundles.</p>

                    <h4 class="blue-text text-center">Practice Management Bundle for Legal Services</h4>

                    <section class="bundle" ng-repeat="cat in catVsbundles[selectedCat]">
                        <div ng-repeat="(k1,v1) in cat">
                            <div class="header">
                                <h4 class="blue-text">{{k1}}</h4>
                                <div class="bundleCheck">
								<span class="checkBox" ng-click="setBundle(k1)">
                                    <img
                                            ng-src="{{selectedBundle.indexOf(k1)==-1?'images/logos/checkbox-blank-outline.png':'images/logos/checkbox-marked2.png'}}">
                                 </span>
                                    <label>I am more likely to buy this bundle</label>
                                </div>
                            </div>
                            <div class="appWrapper">
                                <div ng-repeat="v2 in v1">
                                    <div class="categories" ng-repeat="(k3,v3) in v2">
                                        <h5>{{k3}}</h5>
                                        <div class="appBoxContainer">

                                            <div class="appBoxWrapper" ng-repeat="v5 in v3">
                                                <div class="appbox">
                                                    <div class="appheading">
                                                        <div class="icon">
                                                            <img ng-src="{{'images/logos/' + v5.iconUrl}}">
                                                        </div>
                                                    </div>
                                                    <div class="appBody">
                                                        <label>{{v5.name}}</label>
                                                        <p>{{v5.desc}}</p>
                                                    </div>

                                                    <div class="footer">
                                                        <span>{{v5.cost}}</span>
                                                    </div>
                                                </div>
                                                <div class="appcheckBox">
											<span class="checkBox" ng-click="setApps(v5.name)">
			                                    <img
                                                        ng-src="{{selectedApps.indexOf(v5.name) == -1?'images/logos/checkbox-blank.png':'images/logos/checkbox-marked.png'}}">
			                                 </span>
                                                    <label>Select this App</label>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </section>


                </div>

            </div>
        </div>
        <div class="row completeSurvey">
        	<div class="pull-right">
        		<a href="" class="remindLater">Remind me later</a>
        		<a href="" class="magenta-btn" ui-sref="completeSurvey">I have completed my Survey</a>
        	</div>
        </div>
        <div class="row">
        	<div class="ourPartner">
            <h1>Our Partners</h1>
            <div class="partnerLogos">
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/gsuite-logo copy.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/freshworks.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/uber-new-logo-png copy.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/Oa2xZ8S5Sq6PD6GP6nk6_logo-freshdesk copy.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/YEXT_Logo_Gray_RGB.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/image06-20.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/large.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/Office_365_logo.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/Layer 39 copy.png">
                  </div>
               </div>
               <div class="logoBox">
                  <div class="imgWrap">
                     <img src="images/Partner Logo/Layer 42 copy.png">
                  </div>
               </div>
            </div>
         </div>
        </div>
    </div>
</div>